//main variables
$main-color1: rgb(247, 145, 29);
$additional-color: rgb(242, 244, 247);
$roundation: 0.5em;
$interactive-background-color: hsl(32, 93%, 45%);
$interactive-focus-color: hsl(32, 93%, 30%);
$disabled-background-color: hsl(32, 89%, 80%);
$disabled-color: hsl(216, 24%, 100%);
